<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <meta charset="utf-8">
    <title><%= gettext('Unknown page for Vinz Clortho, Keymaster of Gozer') %></title>
    <link rel="stylesheet" href="/css/404.css">

  </head>
  <body id="p404">
    <div id="">
      <a href="http://www.thereplicapropforum.com/f24/vinz-clortho-keymaster-gozer-v2-0-a-123284/">
       <img src="/i/vinz_clortho_crop.jpg" width="537" height="477" alt="<%= gettext('Vinz Clortho') %>"/></a>
      <div>
        <blockquote><%- gettext('You will perish in flame!<br /> Soon as I <em>find</em> the Gatekeeper!') %></blockquote>
        <p><%= gettext('Unknown page') %></p>
      </div>
      <br class="clear" />
    </div>
<script src="/js/lib/jquery.min.js"></script>
  </body>
</html>
