<div class="signin-panel">
  <div class="left-col"></div>
  <div class="center-col">
    <img class="logo" src="/i/mozilla_corp.jpeg" width="300" alt="Mozilla Logo" />
    <h1><%= title %></h1>
    <div class="error"></div>
    <p><%= gettext("Please use your LDAP password") %></p>
  </div>
  <div class="right-col"></div>

  <form action="/sign_in" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
    <div class="left-col">
      <label for="user"><%= gettext('Email') %></label>
    </div><div class="center-col">
        <input id="user" type="email" name="user" value="<%= email %>"
               autocorrect="off" autocapitalize="off" disable="true">
    </div>
    <div class="right-col"></div>

    <div class="left-col"><label for="pass"><%= gettext('Password') %></label></div>
    <div class="center-col"><input type="password" id="pass" name="pass" value="" /></div>
    <div class="right-col"></div>

    <div class="left-col last"></div>
    <div class="center-col last"><button><%= gettext('Sign in') %></button><button class="cancel"><%= gettext('Cancel') %></button></div>
    <div class="right-col last"></div>
  </form>
  <br class="clear" />
</div><!-- #sign-in-panel -->
