<div class="l-center-vh signin-panel">
  <div class="signin-form">
    <div class="l-center">
      <div class="signin-logo"><img src="<%= static_mount_path %>/i/mozilla.png" width="166" alt="Mozilla Logo" /></div>
      <div class="error"></div>
      <p><%= gettext("Please use your LDAP password") %></p>
    </div>

    <form action="<%= static_mount_path %>/sign_in" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrf_token %>" />

      <div class="l-30">
        <label for="user"><%= gettext('Email') %></label>
      </div><div class="l-70">
       <input id="user" type="email" name="user" value="<%= email %>"
               autocorrect="off" autocapitalize="off" disable="true">
      </div>

      <div class="l-30"><label for="pass"><%= gettext('Password') %></label></div>
      <div class="l-70"><input type="password" id="pass" name="pass" value="" /></div>

      <div class="l-30"></div>
      <div class="l-70"><button class="signin-continue btn"><%= gettext('Sign in') %></button><button class="signin-cancel btn cancel"><%= gettext('Cancel') %></button></button></div>
    </form>
  </div>
  <!-- fox's head -->
  <div class="signin-overlay"></div>
</div><!-- #sign-in-panel -->
